<!doctype html>
<html>
 <head>
	<title>Form</title>
	  </head>
  <body>
	
  
	   <h1>Student Form</h1></br>
	   	<form action="<%=dest%>" method="POST" >
		  ID:<br>
		   <input  type="number" name="id" id="id" value="<%=data[0].id%>" </input><br>
		   	<br><br>
			Marks1:<br>
		   <input  type="number" name="marks1" id="marks1" value="<%=data[0].marks1%>"></input><br>
		   	<br><br>
			Marks2:<br>
		   <input  type="number" name="marks2" id="marks2" value="<%=data[0].marks2%>"></input><br>
		   	<br><br>
			Marks3:<br>
		   <input  type="number" name="marks3" id="marks3" value="<%=data[0].marks3%>"></input><br>
		   		<br><br>
		  	 <input type="submit" name="submit"  /></input><br>
		 	 <input type="reset" name="reseet" ></input>
	   </form>	
			
	   
</body>

</html>